[submodule "third_party/dinov2"]
	path = third_party/dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "third_party/emvsnet"]
	path = third_party/emvsnet
	url = https://github.com/BuTTerK3ks/EMVSNet.git
[submodule "third_party/map-anything"]
	path = third_party/map-anything
	url = https://github.com/facebookresearch/map-anything.git
[submodule "third_party/unidepth"]
	path = third_party/unidepth
	url = https://github.com/lpiccinelli-eth/UniDepth.git
